body{
    padding: 50px; 
    background-color: #f7e7ce;
}
.nav-imagen{
    height: 100px;
    width: auto;   
    max-width: 100%;
}
nav{
    background-color: #cf5d70;
}
.navbar-nav .nav-link{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.contenedor-personalizado{
    background-color: #e2d0af;   
}
.borde-personalizado {
    border-color: #ccb082 !important; 
    border-width: 3px !important; 
    border-style: solid;          
}
.texto{
    text-align: justify;
}
.texto strong{
    font-weight: 500;
}
#formacion-academica .texto{
    text-align: center;
}
#hobbies .texto{
    text-align: center;
}
#hobbies h2{
    font-size: 40px;
    font-weight: bold;
}
#Llave-publica .texto{
    text-align: center;
}

p{
    white-space: pre-line;
}
footer {
    background-color: #cf5d70;
    text-align: center;
}
footer p{
    font-weight: bold;
}
footer img {
    height: 100px;
    width: auto;   
    max-width: 100%;
}
.borde-footer{
    border: 3px solid #8d3d4b !important;;
}

@media (max-width: 600px) {
    .nav-imagen {
        height: 60px;
    }
    
}